body{
    background-color:#2f6bdc;
    font-family:Arial, sans-serif;
}
.container{
    width:400px;
    background:white;
    margin:80px auto;
    padding:20px;
    border-radius:10px;
}
.input-box{
    display:flex;
    gap:10px;}
    input{
        flex:1;
        padding:10px;
        font-size:16px;
    }
    button{
        background-color:#2f6bdc;
        color:white;
        border:none;
        padding:10px 15px;
        font-size:16px;
        border-radius:6px;
        cursor:pointer;
        display:flex;
        align-items:center;
        justify-content:center;
        float:center;
    }
    button:hover{background-color:#1f4fd8;}
    ul{
        list-style:none;
        padding:0;
        margin-top:20px;
    }
    li{
        background:#d9eeee;
        padding:12px;
        margin-bottom:10px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-radius:5px;
    }
    .delete{
        background:#1f3fbf;
        color:white;
        border:none;
        padding:5px 8px;
        cursor:pointer;
        border-radius:5px;
    }